<div class="container">
    <h1>{{aim}}</h1>
    <div class="login-div">
        <div class="row">
            <div class="col"></div>
            <div class="col" style=" background-color: white; border: 2px solid black;;">
                <h2 style="text-align: center; color: darkslategrey;">Login</h2>
               <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name= "acnum" id="acnum" formControlName="acnum" placeholder="accountnumber"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>
                    <div class="error" *ngIf="(this.loginForm.get('acnum')?.touched || this.loginForm.get('acnum')?.dirty) && this.loginForm.get('acnum')?.errors">invalid account number</div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name= "pswd" id="pswd" formControlName="pswd" placeholder="password"
                            aria-label="password" aria-describedby="basic-addon2">
                    </div>
                    <div class="error" *ngIf="(this.loginForm.get('pswd')?.touched || this.loginForm.get('pswd')?.dirty) && this.loginForm.get('pswd')?.errors">invalid password</div>
                    <div class="input-group mb-3">
                        <p style="color: red;" id="error"></p>  
                    </div>
                    <div class="input-group mb-3 login-btn-center">
                        <button type="submit" class="btn btn-primary">Login</button>
                        <a routerLink="register">signup</a>
                    </div>
               </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
